* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #101010;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container {
  max-width: 1370px;
  margin: auto;
}

.hero ul li {
  display: inline-flex;
  margin-right: 30px;
}

header {
  background: black;
  padding: 1% 3% 1% 10%;
}

header ul li {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: white !important;
}

header button,
.main-award button,section.About button, section.Indues button {
  background: linear-gradient(135.45deg, #F57F3D 18.79%, #D7392F 73%);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
}

.banner {
  background-image: url(assets/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11% 0;

}

h1 {

  font-family: Raleway;
  font-size: 85px;
  font-weight: 800;
  line-height: 112.7px;
  text-align: center;
  color: white;
}

span.orange {
  color: #df4d33;
}

.para {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #ADADAD;
}

header li a {
  color: #ffff;
}

header li a:hover {
  color: #ec6a38;
}

img.main-logo {
  width: 20%;
}

section.main-award.container ul {
  display: flex;
  gap: 10px;
  align-items: unset;
}
.Indus .para {
  padding-top: 20px;
  max-width: 733px;
  text-align: left;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.main-back h2,.Indus h2 {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
}

.main-back .para {
  text-align: unset;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;


}

.main-back {
  background: #1D1D1D;
  padding: 40px 30px 100px 30px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.main-back:hover {
  border: 1px solid #aeaeae;  
  background-color: black;
}

.main-back .para {
  text-align: unset;
  max-width: 300px;
}

h2.main-head {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 800;
  line-height: 46.96px;
  text-align: center;
  color: white;
}

section.main-award.container {
  padding-top: 6%;
}

.para.top {
  padding: 0 !important;
  max-width: 530px;
  margin: 30px auto;
  font-size: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;


}
.main-award.container button {
 display: block;
 margin: 40px auto;
}
section.Revenue ul {

  display: flex;
  justify-content: space-between;
}
section.Revenue {
background: #1D1D1D;
padding: 2% 0;
}

.contd h2 {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #df4d33;
}
.contd {
  border-left: 1px solid #757576;
}
.contd-in {
  padding: 20px;
}
.main-video video{

  width:41%;
  border-radius:15px;
  object-fit:cover;
  height:100%
}
.recall-right .para{
  text-align: left;
  padding-bottom: 20px;
}
section.About {
  padding: 4% 0;
}
.top-cont .para {
  max-width: 970px;
  margin: auto;
}
.top-cont {
  padding-bottom: 3%;
}
section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 3% 0;
}
.Indus {
  width: 28%;
}
section.Indues {
  background: #1D1D1D;
}
.Indus {
  background: #101010;
  border-radius: 12px;
  padding: 30px 30px 70px 21px;
  border: 1px solid transparent;
}
section.Indues {
  background: #1D1D1D;
  padding: 5% 0% 2% 0%;
}
section.Indues button {
  display: block;
  margin: auto;
}
.swiper {
  width: 100%;
  height: 100%;
}
button:hover {
  background: linear-gradient(135.45deg, #D7392F 18.79%, #F57F3D 73%);
}
.Indus:hover {
    background: rgb(58 58 58/ var(--tw-bg-opacity));
    border: 1px solid #aeaeae;
}