* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #101010;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container {
  max-width: 1370px;
  margin: auto;
}

.hero ul li {
  display: inline-flex;
  margin-right: 30px;
}

header {
  background: black;
  padding: 1% 3% 1% 10%;
}

.main-img-logo {
  width: 45%;
}

.main-hero {
  width: 45%;
}

.calls-icons a {
  padding: 12px 16px 8px 16px;
}

.calls-icons a:hover {
  background: #f57f3d;
  padding: 12px 16px 8px 16px;
  border-radius: 12px;
}

.calls-icons {
  display: flex;
  background: #1b1b1b;
  padding: 8px 12px;
  border-radius: 12px;
}

header ul li {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: white !important;
}

header button,
.main-award button,
section.About button,
section.Indues button,
section.slider-sec button,
section.Contact button {
  background: linear-gradient(135.45deg, #F57F3D 18.79%, #D7392F 73%);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
}

.banner {
  background-image: url(assets/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11% 3%;

}

h1 {

  font-family: Raleway;
  font-size: 85px;
  font-weight: 800;
  line-height: 112.7px;
  text-align: center;
  color: white;
}

span.orange {
  color: #df4d33;
}

.para {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #ADADAD;
}

header li a {
  color: #ffff;
}
.main-hero img {
  display: none;
}
header li a:hover {
  color: #ec6a38;
}

img.main-logo {
  width: 35%;
}

section.main-award.container ul {
  display: flex;
  gap: 10px;
  align-items: unset;
}

.Indus .para {
  padding-top: 20px;
  max-width: 733px;
  text-align: left;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.main-back h2,
.Indus h2 {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
}

.main-back .para {
  text-align: unset;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;


}

.main-back {
  background: #1D1D1D;
  padding: 40px 30px 100px 30px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.main-back:hover {
  border: 1px solid #aeaeae;
  background-color: black;
}

.main-back .para {
  text-align: unset;
  max-width: 300px;
}

h2.main-head {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 800;
  line-height: 46.96px;
  text-align: center;
  color: white;
}

section.main-award.container {
  padding: 6% 3% 3% 3%;
}

.para.top {
  padding: 0 !important;
  max-width: 530px;
  margin: 30px auto;
  font-size: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;


}

.main-award.container button {
  display: block;
  margin: 40px auto;
}

section.Revenue ul {

  display: flex;
  justify-content: space-between;
}

section.Revenue {
  background: #1D1D1D;
  padding: 2% 0;
}

.contd h2 {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #df4d33;
}

.contd {
  border-left: 1px solid #757576;
}

.no-border {
  border-left: none;
  /* Remove the left border */
}

.contd-in {
  padding: 20px;
}

/* .main-video video {

  width: 41%;
  border-radius: 15px;
  object-fit: cover;
  height: 100%
} */

.recall-right .para {
  text-align: left;
  padding-bottom: 20px;
}

section.About {
  padding: 4% 3%;
}

.top-cont .para {
  max-width: 970px;
  margin: auto;
}

.top-cont {
  padding-bottom: 5%;
}

section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 3% 0;
}

.Indus {
  width: 28%;
}

section.Indues {
  background: #1D1D1D;
}

.Indus {
  background: #101010;
  border-radius: 12px;
  padding: 30px 30px 70px 21px;
  border: 1px solid transparent;
}

section.Indues {
  background: #1D1D1D;
  padding: 5% 3% 2% 3%;
}

section.Indues button {
  display: block;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

button:hover {
  background: linear-gradient(135.45deg, #D7392F 18.79%, #F57F3D 73%);
}

.Indus:hover {
  background: rgb(58 58 58/ var(--tw-bg-opacity));
  border: 1px solid #aeaeae;
}

.right-case .para {
  text-align: left;
  max-width: 530px;
  font-size: 22px;
  padding-bottom: 40px;
}

.right-case h2 {
  font-size: 48px;
  color: white;
  padding-bottom: 20px;
  font-family: 'raleway';
}

.right-case {
  background: #1d1d1d;
  padding: 5% 0% 5% 4%;
  border-radius: 12px;
}

.right-case {
  width: 45%;
}

.left-case {
  width: 55%;
}

section.slider-sec .hero {
  gap: 40px;
}

section.Boxslider {

  padding: 10% 0 4% 0;
}

.swiper-slide-next {
  opacity: 100% !important;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 5px 17px 0px #0000001F;
  background: #1D1D1D;
  padding: 10px 20px;
  border-radius: 15px;


}

.swiper-slide {
  opacity: 30%;

}

.Testimain .para {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  max-width: 397px;
}

.Testimain h2 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  color: white;
  padding: 20px 0 15px 0;
}

img.Forpad {
  padding-bottom: 20px;
}

.Testimain {
  padding: 30px 10px;
}

.Testimain h3 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}

.case-studies .swiper-slide {

  opacity: 100% !important;
}

.case-studies .swiper-slide-next {
  opacity: 100% !important;
  border: unset;
  box-shadow: unset;
  background: unset;
  padding: unset;
  border-radius: unset;
}

.Letter-top-main {
  width: 33%;
  box-shadow: 0px 1px 25px 0px #FFFFFF1F;
}

.letter-right h2 {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  padding-bottom: 10px;
}

.letter-right .para {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.letter-left img {
  width: 100%;
  display: block;
}

section.Letter-cont {
  background: #1D1D1D;
  padding: 5% 3%;
}

section.Letter-cont .hero {
  gap: 30px;
}

.letter-right {
  background: black;
  padding: 20px 0px 20px 24px;
}

.letter-right button {
  opacity: 0;
}

.Letter-top-main:hover .letter-right button {
  opacity: 1;

}

.Letter-top-main:hover .letter-right {

  background-color: #2C2C2C;
}

.letter-right button {

  font-family: Lato;
  padding: 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #df4d33;
  background-color: unset;
  border: none;

}

.letter-right button:hover {
  background: unset;
}

.Letter-top-main:hover {
  box-shadow: unset;

}

.letter-btn {
  padding: 30px 0;
}

.letter-btn button {
  display: block;
  margin: auto;
  border: none;
  background-color: unset;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  cursor: pointer;
}

.letter-btn button:hover {

  background: unset !important;
}

/* logoslider */

section.new-slide .slide img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-1000%)
  }
}

*/ logoslider */ .logo-carousel .slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-logo img {
  width: 70%;
}

.item-logo.small img {
  max-width: 160px;
}

.owl-carousel .item-logo {
  margin-right: 10px;
  /* Adjust margin between items */
}

.owl-carousel .item-logo img {
  display: block;
  height: auto;
  /* Maintain aspect ratio */
}

.owl-carousel .item-logo img {
  width: 208px;
}

.letter-btn {
  padding: 4% 0% 0% 0%;
}

.letter-btn button:hover {
  color: #df4d33;
}

section.new-slide {
  background: #1D1D1D;
  padding: 1% 0;
}

section.slider-sec {
  padding: 0 3%;
}

section.new-slide .slider {
  margin: unset;
}

.item-logo img {
  width: unset;
  padding-right: 80px;
}

.case-studies {
  padding: 5% 0;
}

.item-logo {
  display: flex;
  align-items: center;
}

.right-form {
  width: 50%;
}

.contact-text-input .custom-placeholder {
  pointer-events: none;
  position: absolute;
  top: 0;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 1rem;
  --tw-text-opacity: 1;
  color: rgb(116 114 114 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.relative {
  position: relative;
  margin-top: 50px;
}

.contact-text-input {
  position: relative;
  padding-bottom: 20px;
}

/* .contact-text-input input{

  display: block;
  width: 100%;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: .875rem;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  background-color: transparent;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(29 29 29 / var(--tw-border-opacity));

} */

.unique-text-input .input.underline {
  border-radius: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .5rem;
  text-decoration-line: none;
}

input#firstName {
  position: absolute;
}

input#firstName {
  position: absolute;
  border: none;
  background: none;
  padding: 30px 30px 10px 0px;
  border-bottom: 4px solid #1D1D1D;
  color: white;
  width: 90%;
}

:focus-visible {
  outline: unset
}

section.Contact {
  padding: 5%;
}

.right-form .para {
  text-align: left;
  padding-top: 50px;
}

textarea#message {
  RESIZE: none;
}

label {
  position: relative;
}

textarea#message {
  RESIZE: none;
  position: absolute;
  width: 100%;
  background: none;
  border: none;
  padding: 40px 20px 20px 0px;
  color: white;
  border-bottom: 4px solid #1d1d1d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;

}

.left-form {
  width: 50%;
}

.tex-main {
  margin-top: 80px;
}

section.Contact .hero {
  gap: 8%;
  padding-bottom: 10%;
}

.right-form h2 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 800;
  line-height: 42.26px;
  color: white;
}

label.custom-placeholder {
  color: rgb(116 114 114);
}

.social-icons {
  display: flex;
  gap: 30px;
  padding-top: 4%;
}

.social {
  width: 80%;
}

.social-icons a:hover .social {
  filter: brightness(0) saturate(100%) invert(36%) sepia(98%) saturate(1151%) hue-rotate(340deg) brightness(90%) contrast(94%);
}

.top-head h2 {
  padding-bottom: 4%;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 800;
  line-height: 56.35px;
  text-align: center;
  color: white;
}

/* footer */

section.Footer {
  background: rgba(29, 29, 29, 1);
  padding: 4% 0 0 0;


}

ul.foot-end li {
  text-align: unset;
}

.email-box {
  display: flex;
  width: 73%;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

section.Footer ul li a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #a2a2a2;
}

section.Footer h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 22.62px;
  color: white;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}

section.Footer ul li {
  margin-top: 15px;
}

.icons {
  color: #bbbbbb;
}

.form input#email {
  padding: 16.5px 20px 16.5px 20px;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: white;
  width: 100%;
  opacity: 70%;
}

.email-box button {
  padding: 4px 24px 5px 24px;
  border-radius: 8px;
}

.email-box button {
  color: white;
  padding: 4px 33px 5px 33px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  border-radius: 8px;
  background: linear-gradient(135.45deg, #F57F3D 18.79%, #D7392F 73%);
  border: none;
}

.para.foot {
  max-width: 460px;
  text-align: left;
  padding: 20px 0px;
}

ul.col-1 {
  width: 18%;
}

ul.col-2 {
  width: 32%;
}

ul.col-3 {
  width: 45%;
}

.col-2 li {
  margin-top: 25px !important;
}

.col-2 li a {
  padding-top: 10px;
}

ul.col-1 h3,
ul.col-2 h3,
ul.col-3 h3 {
  font-size: 1.25rem;
  font-weight: 800;
}

.icons img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(2934%) hue-rotate(262deg) brightness(93%) contrast(81%);
}

.icons {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 20.36px;
}

.foot-top {
  padding-bottom: 3%;
  border-bottom: 2px solid grey;
}

.foot-top img {
  display: block;
  margin: auto;
  width: 20%;
}

.foot-main {
  padding-top: 6%;
}

.btn button {
  margin: auto;
  display: block;
}

.foot-bottom {
  border-top: 2px solid grey;
  padding: 2% 14% 2% 14%;
}

.foot-main {
  padding: 6% 0 3% 0;
}

ul.foot li {
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 36px;
  color: white;
  text-decoration: underline;
}

ul.foot li:hover {
  text-decoration: none;
  color: #d7392f;
}

ul.col-1 li a:hover {
  color: #eb6838;
}

ul.col-2 li a:hover {
  color: #eb6838;
}

/* footer */




/* hamburger */

/* Navbar.css */

/* Hamburger icon */
.hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

.hamburger-icon .line {
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.line.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: translateY(-13px) rotate(-38deg);
}

/* Main menu */
.main-hero {
  display: flex;
}

.main-hero ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-hero {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 230px;
    padding: 20px 10px;
    /* Add padding for the logo */
    border-radius: 8px;
    z-index: 2;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-hero.show {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .concept-logo {
    width: 70%;
    /* Adjust the logo size */
    margin-bottom: 20px;
    /* Spacing below the logo */
  }

  .main-hero ul {
    flex-direction: column;
    align-items: unset;
    padding: 30px;
  }

  .calls-icons {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  h1 {

    font-size: 34px;
    font-weight: 700;
    line-height: 39.92px
  }

  .banner .para {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }

  img.main-logo {
    width: 50%;
  }

  .main-img-logo {
    width: unset;
  }

  header {
    padding: 1% 3% 1% 3%;
  }

  .banner {
    background-size: 100% 100%;
  }

  section.main-award h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.18px;
  }

  section.main-award.container ul {
    display: flex;
    gap: 10px;
    align-items: unset;
    flex-direction: column;
  }

  .contd {
    border: none;
    flex: 0 0 50%;
  }

  section.Revenue ul {
    flex-wrap: wrap;
  }

  section.About.container .hero {
    display: flex;
    flex-direction: column;
  }

  .recall-left img {
    width: 100%;
  }

  section.About .top-cont .para {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .recall-right .para {
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0;
    line-height: 20px;
  }

  h2.main-head {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.22px;
    padding-bottom: 15px;
  }

  header button,
  .main-award button,
  section.About button,
  section.Indues button,
  section.slider-sec button,
  section.Contact button {
    padding: 14px 10px;
    font-size: 10px;
  }

  section.Indues ul {

    flex-direction: column;
  }

  .Indus {
    width: unset;

  }

  section.slider-sec .hero {

    flex-direction: column-reverse;
  }

  .right-case {
    width: unset;
  }

  .left-case {
    width: unset;
  }

  .left-case img {
    width: 100%;
  }

  .Letter-top-main {
    width: unset;
  }

  section.Letter-cont .hero {
    flex-direction: column;
  }

  section.Contact .hero {

    flex-direction: column;
  }

  .left-form {
    width: unset;
  }

  .right-form {
    width: unset;
    padding-top: 20%;
  }

  .contd-in h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.22px;
  }

  .relative {
    margin-bottom: 80px;
    margin-top: unset;
  }

  .contd-in .para {
    font-size: 14px;
    font-weight: 400;
    text-align: unset;
    line-height: 20px;
  }

  .main-back img {
    width: 22%;
  }

  .Indus .para {

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 5px;
  }

  .Indus {
    padding: 10px 30px 30px 21px;

  }

  .Indus img {
    width: 20%;
  }

  .main-back .para {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .main-back {

    padding: 30px 30px 40px 30px;
  }

  .right-case .para {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .right-case h2 {
    font-size: 30px;
    padding-bottom: 12px;
  }

  .item-logo img {
    width: 70%;
  }

  .item-logo img {
    padding-right: 20px;
  }

  .swiper-slide-next {
    opacity: unset;
    border: unset;
    box-shadow: unset;
    background: unset;
    padding: unset;
    border-radius: unset;
  }

  section.new-slide .swiper-slide.swiper-slide-active {
    opacity: 100% !important;
    border: 1px solid #FAFAFA;
    box-shadow: 0px 5px 17px 0px #0000001F;
    background: #1D1D1D;
    padding: unset;
    border-radius: 15px;
  }

  img.Forpad {
    width: 20%;
  }

  .Testimain .para {
    font-family: Lato;
    font-size: 14px;
  }

  .Testimain h2 {

    padding: 10px 0 15px 0;
  }

  p.para.top {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px auto 16px;
  }

  .letter-right {
    padding: 20px 12px 0px 18px;
  }

  .letter-right .para {
    font-size: 13px;
    line-height: 22px;
  }

  .letter-right h2 {

    font-size: 16px;
  }

  .letter-right button {
    padding: 12px 0 20px;
    font-size: 16px;
  }

  .grid {
    display: unset;

  }


  section.Contact .hero {
    align-items: unset;
    flex-direction: column;
  }

  .right-form .para {
    font-size: 12px;
    line-height: 20px;
    padding-top: 18px;
  }

  .right-form h2 {
    font-size: 26px;
    line-height: 22.26px;
  }

  .social {
    width: 60%;
  }

  .social-icons {
    gap: 0;
  }

  .foot-main.flex {
    flex-wrap: wrap;
    padding: 6% 3%;
  }

  ul.col-1 {
    width: 40%;
  }

  ul.col-2 {
    width: 60%;
  }

  ul.col-3 {
    width: unset;
    padding-top: 30px;
  }

  ul.col-1 h3,
  ul.col-2 h3,
  ul.col-3 h3 {
    font-size: 16px;
  }

  section.Footer ul li {
    margin-top: 6px;
  }

  section.Footer ul li a {
    font-size: 15px;
  }

  .email-box {
    width: 90%;
  }

  .form input#email {
    padding: 13.5px 6px 13.5px 11px;
    font-size: 12px;
  }

  ul.col-3 .para {
    padding: 10px 0;
    font-size: 14px;
  }

  .foot-top img {
    width: 55%;
  }

  ul.foot li {
    font-family: Lato;
    font-size: 14px;
  }

  .foot-bottom.hero {
    flex-direction: column-reverse;
  }

  .foot-bottom {

    padding: unset;

  }

  .foot-bottom .para {
    font-size: 16px;
  }

  .top-head h2 {
    font-size: 34px;
  }
  .main-hero img {
    display: block;
    width: 100%;
  }
}

/* hamburger */

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .banner {
    background-size: 100% 100%;
    height: 78vh;
    display: flex;
  }

  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 48.92px;
  }

  .banner .para {
    font-size: 21px;
    line-height: 32px;
  }

  .main-hero {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 49%;
    padding: 20px 10px;
    border-radius: 8px;
    z-index: 2;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-hero ul {
    gap: 30px;
  }

  .main-hero.show {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .concept-logo {
    width: 70%;
    margin-bottom: 20px;
  }

  .main-hero ul {
    flex-direction: column;
    align-items: unset;
    padding: 30px;
  }

  /* Hamburger icon styles */
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;
    /* position: absolute; */
    /* top: 20px; */
    right: 20px;
    height: unset;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: #fff !important;
    margin: 4px 0;
    transition: 0.3s;
  }

  .calls-icons {

    display: none;
  }

  header {
    background: black;
    padding: 2% 3% 2% 3%;
  }

  img.main-logo {
    width: 70%;
  }

  .Cards {
    WIDTH: 49%;
  }

  section.main-award.container ul {
    gap: 10px;
    flex-wrap: wrap;
    align-items: unset;
  }

  h2.main-head {
    font-size: 25px;
  }

  .para.top {

    margin: 10px auto 30px;
  }

  .contd h2 {

    font-size: 30px;
    text-align: center;
  }

  .recall-right .para {
    font-size: 18px;
    line-height: 32px;
  }

  .recall-right {
    width: 50%;
  }

  .recall-left img {
    width: 100%;
  }

  .recall-left {
    width: 50%;
  }

  section.About .hero {
    align-items: unset;
  }

  .Indus {
    width: 41%;
  }

  .case-studies .hero {
    flex-direction: column-reverse;
  }

  .right-case {
    width: unset;
  }

  .left-case {
    width: unset;
  }

  .letter-right .para {

    font-size: 15px;
    line-height: 26px;

  }

  .letter-right h2 {
    font-size: 16px;
    line-height: 36px;
  }

  section.Letter-cont .hero {
    gap: 30px;
    flex-wrap: wrap;
  }


  .Letter-top-main {
    width: 47%;
  }

  .right-form .para {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
  }

  .right-form h2 {
    font-size: 32px;

  }

  .right-form .para {

    padding-top: 18px;
  }

  .btn {
    padding-top: 8%;
  }

  input#firstName {

    padding: 24px 0px 0px 0px;
  }

  .contact-text-input .custom-placeholder {
    font-size: 14px;
  }
  ul.col-1 {
    width: 40%;
}
ul.col-2 {
  width: 40%;
}
ul.col-3 {
  width: 100%;
  padding-top: 50px;
}
.foot-main.flex.container {
  flex-wrap: wrap;
  padding: 5%;
}
.email-box {
 width: 100%;
}
.main-hero img {
  display: block;
  width: 100%;
}
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {

  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 48.92px;
  }

  .banner .para {
    font-size: 21px;
    line-height: 32px;
  }

  .main-hero {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 49%;
    padding: 20px 10px;
    border-radius: 8px;
    z-index: 2;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-hero ul {
    gap: 30px;
  }

  .main-hero.show {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .concept-logo {
    width: 70%;
    margin-bottom: 20px;
  }

  .main-hero ul {
    flex-direction: column;
    align-items: unset;
    padding: 30px;
  }

  /* Hamburger icon styles */
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;
    /* position: absolute; */
    /* top: 20px; */
    right: 20px;
    height: unset;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: #fff !important;
    margin: 4px 0;
    transition: 0.3s;
  }

  .calls-icons {

    display: none;
  }

  header {
    background: black;
    padding: 2% 3% 2% 3%;
  }

  img.main-logo {
    width: 70%;
  }

  .Cards {
    WIDTH: 49%;
  }

  section.main-award.container ul {
    gap: 10px;
    flex-wrap: wrap;
    align-items: unset;
  }

  h2.main-head {
    font-size: 25px;
  }

  .para.top {

    margin: 10px auto 30px;
  }

  .contd h2 {

    font-size: 30px;
    text-align: center;
  }

  .recall-right .para {
    font-size: 18px;
    line-height: 32px;
  }

  .recall-right {
    width: 50%;
  }

  .recall-left img {
    width: 100%;
  }

  .recall-left {
    width: 50%;
  }

  section.About .hero {
    align-items: unset;
  }

  .Indus {
    width: 41%;
  }

  .case-studies .hero {
    flex-direction: column-reverse;
  }

  .right-case {
    width: unset;
  }

  .left-case {
    width: unset;
  }

  .letter-right .para {

    font-size: 15px;
    line-height: 26px;

  }

  .letter-right h2 {
    font-size: 16px;
    line-height: 36px;
  }

  section.Letter-cont .hero {
    gap: 30px;
    flex-wrap: wrap;
  }


  .Letter-top-main {
    width: 47%;
  }

  .right-form .para {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
  }

  .right-form h2 {
    font-size: 32px;

  }

  .right-form .para {

    padding-top: 18px;
  }

  .btn {
    padding-top: 8%;
  }

  input#firstName {

    padding: 24px 0px 0px 0px;
  }

  .contact-text-input .custom-placeholder {
    font-size: 14px;
  }
  ul.col-1 {
    width: 40%;
}
ul.col-2 {
  width: 40%;
}
ul.col-3 {
  width: 100%;
  padding-top: 50px;
}
.foot-main.flex.container {
  flex-wrap: wrap;
  padding: 5%;
}
.email-box {
 width: 100%;
}
.main-hero img {
  display: block;
  width: 100%;
}

}


@media screen and (min-width: 1366px) and (max-width: 1600px) {


  header ul li {
    font-size: 15px;
    font-weight: 500;
    line-height: 21.6px;
}
header button, .main-award button, section.About button, section.Indues button, section.slider-sec button, section.Contact button {
 
  padding: 15px 30px;
  font-size: 16px;
}
header {
  padding: 2% 3%;
}

.main-hero {
  width: 55%;
}
.main-hero ul {

  gap: unset;
}
.calls-icons {
  padding: 5px 12px;

}
h1 {
  font-size: 56px;
  line-height: 82.7px;
}

.banner .para {
  font-size: 23px;
  line-height: 32px;
}
section.main-award.container .para.top {

  font-size: 20px;
  
}
section.Revenue {
  background: #1D1D1D;
  padding: 2% 8%;
}
.recall-left img {
  width: 100%;
}
.recall-left {
  width: 50%;
}
.recall-right {
  width: 50%;
}
.container {
  max-width: 1370px;
  margin: auto;
  padding: 0 3%;
}
section.main-award .Cards.container {
  padding: unset;
}
.letter-right h2 {

  font-size: 20px;
}
.item-logo img {
  width: 100%;
  padding-right: 80px;
}
.foot-main {
  padding: 4% 8%;
}
section.Footer {
  padding: unset;
}
.foot-top {
  padding: 2% 0;
}
.foot-bottom {

  padding: 2% 8% 2% 8%;
}
}