* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #101010;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container {
  max-width: 1370px;
  margin: auto;
}

.hero ul li {
  display: inline-flex;
  margin-right: 30px;
}

header {
  background: black;
  padding: 1% 3% 1% 10%;
}

header ul li {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: white !important;
}

header button,
.main-award button,
section.About button,
section.Indues button,
section.slider-sec button {
  background: linear-gradient(135.45deg, #F57F3D 18.79%, #D7392F 73%);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
}

.banner {
  background-image: url(assets/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11% 0;

}

h1 {

  font-family: Raleway;
  font-size: 85px;
  font-weight: 800;
  line-height: 112.7px;
  text-align: center;
  color: white;
}

span.orange {
  color: #df4d33;
}

.para {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #ADADAD;
}

header li a {
  color: #ffff;
}

header li a:hover {
  color: #ec6a38;
}

img.main-logo {
  width: 20%;
}

section.main-award.container ul {
  display: flex;
  gap: 10px;
  align-items: unset;
}

.Indus .para {
  padding-top: 20px;
  max-width: 733px;
  text-align: left;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.main-back h2,
.Indus h2 {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
}

.main-back .para {
  text-align: unset;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;


}

.main-back {
  background: #1D1D1D;
  padding: 40px 30px 100px 30px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.main-back:hover {
  border: 1px solid #aeaeae;
  background-color: black;
}

.main-back .para {
  text-align: unset;
  max-width: 300px;
}

h2.main-head {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 800;
  line-height: 46.96px;
  text-align: center;
  color: white;
}

section.main-award.container {
  padding-top: 6%;
}

.para.top {
  padding: 0 !important;
  max-width: 530px;
  margin: 30px auto;
  font-size: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;


}

.main-award.container button {
  display: block;
  margin: 40px auto;
}

section.Revenue ul {

  display: flex;
  justify-content: space-between;
}

section.Revenue {
  background: #1D1D1D;
  padding: 2% 0;
}

.contd h2 {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #df4d33;
}

.contd {
  border-left: 1px solid #757576;
}

.contd-in {
  padding: 20px;
}

.main-video video {

  width: 41%;
  border-radius: 15px;
  object-fit: cover;
  height: 100%
}

.recall-right .para {
  text-align: left;
  padding-bottom: 20px;
}

section.About {
  padding: 4% 0;
}

.top-cont .para {
  max-width: 970px;
  margin: auto;
}

.top-cont {
  padding-bottom: 5%;
}

section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

section.Indues ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 3% 0;
}

.Indus {
  width: 28%;
}

section.Indues {
  background: #1D1D1D;
}

.Indus {
  background: #101010;
  border-radius: 12px;
  padding: 30px 30px 70px 21px;
  border: 1px solid transparent;
}

section.Indues {
  background: #1D1D1D;
  padding: 5% 0% 2% 0%;
}

section.Indues button {
  display: block;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

button:hover {
  background: linear-gradient(135.45deg, #D7392F 18.79%, #F57F3D 73%);
}

.Indus:hover {
  background: rgb(58 58 58/ var(--tw-bg-opacity));
  border: 1px solid #aeaeae;
}

.right-case .para {
  text-align: left;
  max-width: 530px;
  font-size: 22px;
  padding-bottom: 40px;
}

.right-case h2 {
  font-size: 48px;
  color: white;
  padding-bottom: 20px;
  font-family: 'raleway';
}

.right-case {
  background: #1d1d1d;
  padding: 5% 0% 5% 4%;
  border-radius: 12px;
}

.right-case {
  width: 45%;
}

.left-case {
  width: 55%;
}

section.slider-sec .hero {
  gap: 40px;
}

section.Boxslider {

  padding: 10% 0 4% 0;
}

.swiper-slide-next {
  opacity: 100% !important;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 5px 17px 0px #0000001F;
  background: #1D1D1D;
  padding: 10px 20px;
  border-radius: 15px;


}

.swiper-slide {
  opacity: 30%;

}

.Testimain .para {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  max-width: 397px;
}

.Testimain h2 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  color: white;
  padding: 20px 0 15px 0;
}

img.Forpad {
  padding-bottom: 20px;
}

.Testimain {
  padding: 30px 10px;
}

.Testimain h3 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}

.case-studies .swiper-slide {

  opacity: 100% !important;
}

.case-studies .swiper-slide-next {
  opacity: 100% !important;
  border: unset;
  box-shadow: unset;
  background: unset;
  padding: unset;
  border-radius: unset;
}

.Letter-top-main {
  width: 33%;
  box-shadow: 0px 1px 25px 0px #FFFFFF1F;
}

.letter-right h2 {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  padding-bottom: 10px;
}

.letter-right .para {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.letter-left img {
  width: 100%;
  display: block;
}

section.Letter-cont {
  background: #1D1D1D;
  padding: 5% 0;
}

section.Letter-cont .hero {
  gap: 30px;
}

.letter-right {
  background: black;
  padding: 20px 0px 20px 24px;
}

.letter-right button {
  opacity: 0;
}

.Letter-top-main:hover .letter-right button {
  opacity: 1;

}

.Letter-top-main:hover .letter-right {

  background-color: #2C2C2C;
}

.letter-right button {

  font-family: Lato;
  padding: 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #df4d33;
  background-color: unset;
  border: none;

}

.letter-right button:hover {
  background: unset;
}

.Letter-top-main:hover {
  box-shadow: unset;

}

.letter-btn {
  padding: 30px 0;
}

.letter-btn button {
  display: block;
  margin: auto;
  border: none;
  background-color: unset;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  cursor: pointer;
}

.letter-btn button:hover {

  background: unset !important;
}

/* logoslider */

section.new-slide .slide img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-1000%)
  }
}

*/ logoslider */ .logo-carousel .slick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-logo img {
  width: 70%;
}

.item-logo.small img {
  max-width: 160px;
}

.owl-carousel .item-logo {
  margin-right: 10px;
  /* Adjust margin between items */
}

.owl-carousel .item-logo img {
  display: block;
  height: auto;
  /* Maintain aspect ratio */
}

.owl-carousel .item-logo img {
  width: 208px;
}

.letter-btn {
  padding: 4% 0% 0% 0%;
}

.letter-btn button:hover {
  color: #df4d33;
}

section.new-slide {
  background: #1D1D1D;
  padding: 1% 0;
}

section.new-slide .slider {
  margin: unset;
}

.item-logo img {
  width: unset;
  padding-right: 80px;
}

.case-studies {
  padding: 5% 0;
}

.item-logo {
  display: flex;
  align-items: center;
}

.right-form {
  width: 50%;
}

.contact-text-input .custom-placeholder {
  pointer-events: none;
  position: absolute;
  top: 0;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 1rem;
  --tw-text-opacity: 1;
  color: rgb(116 114 114 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.relative {
  position: relative;
  margin-top: 50px;
}

.contact-text-input {
  position: relative;
  padding-bottom: 20px;
}

/* .contact-text-input input{

  display: block;
  width: 100%;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: .875rem;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  background-color: transparent;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(29 29 29 / var(--tw-border-opacity));

} */

.unique-text-input .input.underline {
  border-radius: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .5rem;
  text-decoration-line: none;
}

input#firstName {
  position: absolute;
}

input#firstName {
  position: absolute;
  border: none;
  background: none;
  padding: 30px 30px 10px 0px;
  border-bottom: 4px solid #1D1D1D;
  color: white;
  width: 90%;
}

:focus-visible {
  outline: unset
}

section.Contact {
  padding: 5%;
}

.right-form .para {
  text-align: left;
  padding-top: 50px;
}

textarea#message {
  RESIZE: none;
}

label {
  position: relative;
}

textarea#message {
  RESIZE: none;
  position: absolute;
  width: 100%;
  background: none;
  border: none;
  padding: 40px 20px 20px 0px;
  color: white;
  border-bottom: 4px solid #1d1d1d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;

}

.left-form {
  width: 50%;
}

.tex-main {
  margin-top: 80px;
}

section.Contact .hero {
  gap: 8%;
}

.right-form h2 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 800;
  line-height: 42.26px;
  color: white;
}

label.custom-placeholder {
  color: rgb(116 114 114);
}

.social-icons {
  display: flex;
  gap: 30px;
  padding-top: 4%;
}

.social {
  width: 80%;
}

.social-icons a:hover .social {
  filter: brightness(0) saturate(100%) invert(36%) sepia(98%) saturate(1151%) hue-rotate(340deg) brightness(90%) contrast(94%);
}

.top-head h2 {
  padding-bottom: 4%;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 800;
  line-height: 56.35px;
  text-align: center;
  color: white;
}

/* footer */

section.Footer {
  background: rgba(29, 29, 29, 1);
  padding: 4%;
  margin-bottom: 30px;
  border-bottom: 2px solid grey;
}

ul.foot-end li {
  text-align: unset;
}

.email-box {
  display: flex;
  width: 73%;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

section.Footer ul li a {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #a2a2a2;
}

section.Footer h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 22.62px;
  color: white;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}

section.Footer ul li {
  margin-top: 15px;
}

.icons {
  color: #bbbbbb;
}

.form input#email {
  padding: 16.5px 20px 16.5px 20px;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: white;
  width: 100%;
  opacity: 70%;
}

.email-box button {
  padding: 4px 24px 5px 24px;
  border-radius: 8px;
}

.email-box button {
  color: white;
  padding: 4px 33px 5px 33px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  border-radius: 8px;
  background: linear-gradient(135.45deg, #F57F3D 18.79%, #D7392F 73%);
  border: none;
}

.para.foot {
  max-width: 460px;
  text-align: left;
  padding: 20px 0px;
}

ul.col-1 {
  width: 18%;
}

ul.col-2 {
  width: 32%;
}

ul.col-3 {
  width: 45%;
}

.col-2 li {
  margin-top: 25px !important;
}

.col-2 li a {
  padding-top: 10px;
}

ul.col-1 h3,
ul.col-2 h3,
ul.col-3 h3 {
  font-size: 1.25rem;
  font-weight: 800;
}
.icons img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(2934%) hue-rotate(262deg) brightness(93%) contrast(81%);
}
.icons {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 20.36px;
}
.foot-top{
  padding-bottom: 3%;
  border-bottom: 2px solid grey;
}
.foot-top img {
  display: block;
  margin: auto;
  width: 20%;
}
.foot-main {
  padding-top: 6%;
}
/* footer */